@media only screen and (max-width: 1220px) {

	.row {
		padding: 0 2%;
	}

	.send-box-row {
		padding: 0 2%;
	}

}


@media only screen and (max-width: 1024px) {

	h2 {
	    font-size: 41px;
	    line-height: 45px;
	}

	ol.mark-v li {
	    font-size: 15px;
	    line-height: 20px;
	    margin: 7px 0;
	}

	ol.mark-v li:before {
	    width: 30px;
	    height: 23px;
	    background-size: 62%;
	}

	/*-- Header --*/

	.header .col-1,
	.top-bottom-sect .col-1 {
	    width: 27%;
	}

	.header .col-2,
	.top-bottom-sect .col-2 {
	    width: 49%;
	}

	.header .col-3,
	.top-bottom-sect .col-3 {
	    width: 24%;
	}

	.logo-img {
	    width: 60px;
	}

	.logo h2 {
	    padding: 0 0 0 7%;
	    font-size: 18px;
	    line-height: 21px;
	}

	.main-nav li {
	    padding: 5px 10px;
	}

	.main-nav-link {
	    font-size: 15px;
	    line-height: 15px;
	}

	.cash-link {
	    min-width: 108px;
	}

	/*-- /Header --*/

	/*-------------------------*/

	.promo-logo-box {
	    width: 53%;
	}

	/*-------------------------*/

	.big-slider-slide .col-1 {
	    width: 69%;
	}

	.big-slider-slide .col-2 {
		width: 31%;
	}

	.big-slider-slide .price {
	    top: -81px;
	    left: 0px;
	}

	.price .price-val {
	    font-size: 33px;
	    line-height: 33px;
	    padding: 3px 15px 3px 14px;
	}

	.price-val .rub {
	    font-size: 25px;
	    line-height: 33px;
	}

	.big-slider-slide .article {
	    padding: 0 0 16px 0;
	}

	.big-slider-slide .article p {
	    font-size: 15px;
	    line-height: 17px;
	}

	.big-slider-slide .article ol li {
	    font-size: 15px;
	    line-height: 17px;
	}

	/*--------------------------------*/

	.services-thumbnails {
	    min-height: 377px;
	}

	.services-thumbnails-box {
		margin: 125px 0 0 0;
	}

	.descript p {
	    font-size: 18px;
	    line-height: 22px;
	}

	.romb-desc-1 {
		min-width: 274px;
	}

	.descript.romb-desc-2:before {
	    bottom: -29px;
	}

	.descript.romb-desc-2 {
	    min-width: 184px;
	}

	.romb-desc-2 p span {
		position: absolute;
		top: 22px;
		left: 5px;
	}

	.descript.romb-desc-3 {
	    min-width: 284px;
	}

	.descript.romb-desc-3:after {
	    height:	89px;
	}

	.descript.romb-desc-3:before {
	    bottom: -120px;
    	left: -5px;
	}

	.descript.romb-desc-4 {
	    min-width: 184px;
	}

	.descript.romb-desc-5:after {
	    height: 191px;
	}

	/*--------------------------------*/

	.contacts-thumbnails .thumbnail {
	    width: 33%;
	    padding: 7px 1%;
	}

}


@media only screen and (max-width: 768px) {

	.left_tr,
	.right_tr {
	    top: -9px;
	    border-bottom: 10px solid #ffffff;
	}

	.bottom-tr {
	    border-top: 10px solid #ffffff;
	}

	h2 {
	    font-size: 35px;
	    line-height: 37px;
	}

	/*-- Header --*/

	.header .col-1 {
	    width: 59%;
	}

	.header .col-2 {
	    /*display: none;*/
	    display: inline-block;
	    vertical-align: middle;
	    width: 0%;
	}

	.header .col-3 {
		display: inline-block;
	    vertical-align: middle;
	    width: 26%;
	}

	.header .respmenubtn-box {
		display: inline-block;
		vertical-align: middle;
	    width: 15%;
	}

		/*-- Main Navigation --*/

		.main-nav.resp-nav  {
			/*display: block;*/
			display: none;
			width: 100%;
			max-height: 100vh;
			padding: 19px 0;
			background: rgba(0, 0, 0, .9);
			position: fixed;
			top: 0;
			left: 0;
		}

		.main-nav.resp-nav  li {
			display: block;
		    padding: 0 15px;
		}

		.main-nav.resp-nav .main-nav-link {
		    font-size: 18px;
		    line-height: 18px;
		    font-weight: bold;
		    display: block;
		    padding: 11px 0;
		}

		/*-- Main Navigation --*/

	.cash-box {
		display: inline-block;
		padding: 0 20px 0 0;
	}

	.cash-icon-box {
	    display: inline-block;
	    width: auto;
	    max-width: 50px;
	}

	.cash-link-box {
		display: none;
	}

	/*-- /Header --*/

	/*-------------------------------*/

	.promo-sect {
	    background-image: url(img/promo_tablet_bg.jpg);
	    padding: 47px 0 30px 0;
	}

	@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5), 
	only screen and (min-resolution: 1.5dppx){
		.promo-sect {
			background-image: url(img/promo_bg_retina.jpg);
		}
	}

	.promo-logo-box {
	    width: 56%;
	    margin: 15px auto;
	}

	.red-btn {
		min-width: 244px;
	    margin: 27px 0;
	}

	.red-btn-cnt {
	    padding: 15px 0;
	    font-family: "Raleway", Arial, Verdana, sans-serif;
	    font-size: 13px;
	    line-height: 13px;
	}

	.red-btn .icon-col .fa {
		width: 12px;
		height: 12px;
		border: 1px solid #ffffff;
		font-size: 7px;
		line-height: 12px;
	}

	.red-btn .icon-col:after {
	    right: -8px;
	    border-width: 21px 0 21px 8px;
	}

	/*--------------------------------*/

	.big-slider-slide h2 {
	    padding: 0 50px 17px 50px;
	}

	.append-arrows-big-slider {
	    width: 100%;
	}

	.append-arrows-big-slider button {
	    margin: 0;
	    position: absolute;
	    top: 0;
	}

	.slick-prev {
		left: 0;
	}

	.slick-next {
		right: 0;
	}

	.miniature-slider-box:before {
	    display: none;
	}

	.miniatures-slider {
	    margin: 28px 0 10px 0;
	}

	.append-arrows-miniatures-slider {
	    width: 100%;
	    z-index: 2;
	}

	.append-arrows-miniatures-slider button {
	    position: absolute;
	    top: 161px;
	}

	.append-arrows-miniatures-slider button.slick-prev {
	    left: -5px;
	}

	.append-arrows-miniatures-slider button.slick-next {
	    right: -5px;
	}

	.good-card {
	    margin: 0;
	}

	.good-card .img-box {
	    max-width: 100%;
	    height: 300px;
	}

	.good-card .img-box img {
	    max-width: 100%;
	    max-height: 100%;
	}

	.good-card .p-1 {
	    font-size: 18px;
	    line-height: 22px;
	    padding: 11px 0 3px 0;
	}

	.good-card .price {
	    margin: 8px 0;
	}

	.more-link {
	    margin: 15px 0;
	}

	/*-----------------------------------------*/

	.services-thumbnails {
	    padding: 110px 0 25px 0;
	}

	/*-----------------------------------------*/


	.advantages-sect {
		background-image: url(img/advantages_tablet_bg.jpg);
		padding: 18px 0 25px 0;
	}

	@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
	only screen and (-moz-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min-device-pixel-ratio: 1.5),
	only screen and (min--moz-device-pixel-ratio: 1.5), 
	only screen and (min-resolution: 1.5dppx){
		.advantages-sect {
			background-image: url(img/advantages_bg_retina.jpg);
		}
	}

	.advantages-thumbnails .thumbnail {
	    width: 33.33%;
	    padding: 14px 2%;
	}

	/*--------------------------------*/

	.descript p {
	    font-size: 17px;
	    line-height: 19px;
	}

	.descript.romb-desc-2:before {
	    bottom: -26px;
	}

	.descript.romb-desc-2 {
	    min-width: 143px;
	}

	.descript.romb-desc-3 {
	    min-width: 268px;
	}

	.descript.romb-desc-4 p span {
	    bottom: -23px;
	    left: 7px;
	}

	.romb {
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-ms-border-radius: 15px;
		-o-border-radius: 15px;
		border-radius: 15px;
	}

	/*--------------------------------*/

	.contacts-thumbnails .thumbnail {
	    width: 50%;
	}

	.map-box {
	    min-height: 350px;
	}

	.send-box {
		width: 53%;
		padding: 22px 2%;
	}

	.send-box h2 {
	    font-size: 22px;
	    line-height: 23px;
	    padding: 10px 0;
	}

	.send-box p {
	    font-size: 16px;
	    line-height: 19px;
	    padding: 6px 0;
	}

	.form-box {
	    padding: 3px 0 10px 0;
	}

	/*-- Footer --*/

	.footer .col-1 {
		width: 75%;
	}

	.footer .col-2,
	.footer .col-3 {
	    display: none;
	}

	.footer .to-top-col {
		display: inline-block;
		vertical-align: middle;	
	}

	.footer:after {
		position: absolute;
		bottom: initial;
		top: -9px;
		z-index: 2;
	}

	.footer .bottom-shape {
		bottom: initial;
		height: 13px;
		top: -13px;
	}

	.footer .bottom-shape:after,
	.footer .bottom-shape:before {
	    display: none;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 600px) {

	h3 {
	    font-size: 21px;
	    line-height: 27px;
	    margin: 7px 0;
	    text-transform: uppercase;
	}

	.big-slider-slide h3,
	.miniature-slider-box h3 {
		border-bottom: 1px solid #dfdfde;
	}

	ol li {
		display: table;
		width: 100%;
		min-height: 21px;
	}

	ol li:before {
	    display: table-cell;
	    vertical-align: top;
	    content: "\f0c8";
	    width: 20px;
	    height: 20px;
	    overflow: hidden;
	    font-family: "FontAwesome";
	    font-size: 6px;
	    line-height: 12px;
	    color: #940909;
	    position: relative;
	    top: 2px;
	}

	.novisible-600 {
		display: none !important;
	}

	.resp-tab-600 {
		display: block !important;
	}

	/*-------------------------------------*/

	.big-slider-slide .col-1 {
	    width: 100%;
	}

	.big-slider-slide .col-1 .inner-col-1 {
		display: block;
		width: 100%;
		max-width: 298px;
		margin: 0 auto;
		float: none;
	}

	.big-slider-slide .col-1 .inner-col-2 {
	    width: 100%;
	    float: none;
	    padding: 5px 0 0 0;
	}

	.big-slider-slide .col-2 {
	    width: 100%;
	    padding: 1px 0 0 0;
	}

	.big-slider-slide .article {
	    padding: 0 0 10px 0;
	}

	/*--------------------------------------*/

	.advantages-thumbnails .thumbnail p {
	    padding: 14px 0;
	    font-size: 15px;
	    line-height: 17px;
	}

	/*--------------------------------------*/

	.services-thumbnails-box {
	    margin: 125px 0 110px 0;
	    padding: 0 0 0 8%;
	}

	.services-thumbnails {
	    min-height: 1008px;
	}

	.item-romb {
	    width: 56%;
	    max-width: 320px;
	}

	.descript p {
	    font-size: 15px;
	    line-height: 17px;
	}

	.item-romb-1 .coor {
	    top: 67%;
	}

	.romb-desc-1:before {
	    bottom: -148px;
	}

	.romb-desc-1:after {
		height: 120px;
	    bottom: 0;
	}

	.item-romb-2 {
	    left: 26%;
	}

	.item-romb-2 .coor {
	    top: 69%;
	    left: 0;
	}

/*	.descript.romb-desc-2 p {
	    text-align: right;
	    left: 0;
	}*/
/*
	.romb-desc-2 p span {
	    left: 47px;
	}*/

	/*.item-romb-3 {
	    left: 0;
	}

	.item-romb-3 .coor {
	    top: 0;
	    left: 61%;
	}

	.descript.romb-desc-3 {
	    min-width: 227px;
	}

	.romb-desc-3 p {
		position: relative;
		left: -100%;
	}

	.descript.romb-desc-3 p span {
	    top: 19px;
	    left: 6px;
	}*/

	.item-romb-3 {
	    left: 0;
	}

	.item-romb-3 .coor {
	    top: 0;
	    left: 96%;
	}

	.descript.romb-desc-3 {
	    min-width: 137px;
	}

	.romb-desc-3 p {
	    position: relative;
	    left: 0;
	    padding: 0 3% 0 0;
	}

	.descript.romb-desc-3 p span {
	    top: 0;
	    left: 0;
	    position: relative;
	}

	.descript.romb-desc-3:before {
		bottom: -56px;
		left: -4px;
	}

	.descript.romb-desc-3:after {
	    height: 0;
	}

	.item-romb-4 {
	    left: 27%;
	}

	.descript.romb-desc-4 {
	    min-width: 156px;
	}

	.descript.romb-desc-4:after {
		display: none;
	}

	.descript.romb-desc-4 p {
	    top: -22px;
	    left: -100%;
	}

	.descript.romb-desc-4 p span {
	    bottom: 3px;
	    left: 7px;
	}

	.item-romb-4 .coor {
	    top: 98%;
	    left: 44%;
	}

	.item-romb-5 {
		left: 0;
	}

	.item-romb-5 .coor {
	    top: 64%;
	    left: 98%;
	}

	.descript.romb-desc-5:before {
	    bottom: -5px;
	}

	.descript.romb-desc-5:after {
	    height: 0;
	}

	.descript.romb-desc-5 p {
	    text-align: right;
	    padding: 0 1% 0 0;
	    left: 0;
	}

	/*---------------------------------*/

	.contacts-sect {
	    padding: 17px 0 0 0;
	}

	.map-sect {
		text-align: center;
	}

	.contacts-thumbnails {
	    padding: 4px 0 6px 0;
	}

	.contacts-thumbnails .thumbnail h3 {
	    font-size: 13px;
	    line-height: 15px;
	    padding: 0;
	    margin: 0;
	    text-transform: none;
	}

	.contacts-thumbnails .thumbnail a {
	    font-size: 13px;
	    line-height: 17px;
	}

	.contacts-thumbnails .thumbnail p {
	    font-size: 13px;
	    line-height: 17px;
	}

	.send-box-row {
	    margin: 0 0 10px 0;
	}

	.send-box-row {
		height: auto;
		position: relative;
		top: 0;
	}

	.send-box {
	    width: 100%;
	    padding: 22px 6%;
	    position: relative;
	    top: 0 !important;
	    text-align: center;
	}

	.send-box h2 {
	    font-size: 18px;
	    line-height: 18px;
	    padding: 10px 0 8px 0;
	}

	.send-box p {
	    font-size: 16px;
	    line-height: 19px;
	    padding: 6px 0;
	}

	.form-box {
	    padding: 17px 0 9px 0;
	}

	.input-block {
	    height: 35px;
	    max-width: 100%;
	}

	.input-block .icon {
	    width: 45px;
	    height: 20px;
	}

	.input-block input {
	    height: 35px;
	    width: 100%;
	    font-size: 15px;
	    line-height: 15px;
	}

	.send-btn {
	    min-width: 192px;
	    padding: 12px 1% 10px 1%;
	}

	.send-btn .icon-col {
	    padding: 0 10% 1px 0;
	}

	.send-btn span {
	    font-size: 14px;
	    line-height: 14px;
	}

	.map-box {
		margin: 5px 0 0 0;
		height: 293px;
		min-height: auto;
	}

}

@media only screen and (max-width: 480px) {

	h2 {
	    font-size: 20px;
	    line-height: 21px;
	}

	h3 {
	    font-size: 17px;
	    line-height: 17px;
	    font-weight: bold;
	}

	p {
		font-size: 13px;
		line-height: 13px;
	}

	/*-- Header --*/

	.logo-img {
	    width: 50px;
	}

	.logo h2 {
		padding: 0 0 0 7%;
	    font-size: 14px;
	    line-height: 15px;
	}

	/*-- /Header --*/

	/*---------------------*/

	.promo-logo-box {
	    width: 85%;
	    margin: 15px auto;
	}

	/*---------------------*/

	.big-slider-slide h2 {
	    padding: 0 50px 25px 50px;
	}

	.append-arrows-big-slider button {
	    top: -7px;
	}

	.big-slider-slide .img-box {
	    width: 72%;
	}

	.big-slider-slide .price {
	    top: -67px;
	    left: 7px;
	}

	/*----------------------------*/

	.sect-4 {
	    padding: 30px 0;
	}

	.services-thumbnails-box {
	    margin: 49px 0 112px 0;
	}

	.services-thumbnails {
	    min-height: 821px;
	}

	.descript p {
	    font-size: 14px;
	    line-height: 15px;
	}

	.romb-desc-1:before {
	    bottom: -112px;
	}

	.romb-desc-1:after {
	    height: 85px;
	    bottom: 0;
	}

	.descript.romb-desc-2 {
	    min-width: 123px;
	}

	.descript.romb-desc-2:before {
	    bottom: -22px;
	}

	.romb-desc-2 p span {
	    top: 20px;
	}

	/*
	.item-romb-3 .coor {
	    top: 0;
	    left: 96%;
	}

	.descript.romb-desc-3 {
	    min-width: 120px;
	}

	.romb-desc-3 p {
	    position: relative;
	    left: 0;
	    padding: 0 0 0 4%;
	}

	.descript.romb-desc-3 p span {
	    top: 0;
	    left: 0;
	    position: relative;
	}

	.descript.romb-desc-3:before {
		bottom: -52px;
		left: -4px;
	}

	.descript.romb-desc-3:after {
	    height: 0;
	}*/

/*	.item-romb-5 .coor {
	    top: 98%;
	    left: 56%;
	}

	.descript.romb-desc-5:after {
	    height: 96px;
	}

	.descript.romb-desc-5 p {
	    left: 0;
	}*/

	/*----------------------------*/

	.advantages-sect h2 {
	    padding-bottom: 0px;
	}

	h2.shape-h:after {
	    margin: 14px auto 1px auto;
	}

	.advantages-thumbnails .thumbnail {
	    padding: 6px 2%;
	}

	.advantages-thumbnails .thumbnail .icon-box {
		width: 64px;
		height: 64px;
		border: 2px solid #72706f;
	}

	.advantages-thumbnails .icon-box img {
	    width: 100%;
	}

	.advantages-thumbnails .thumbnail p {
	    padding: 5px 0;
	    font-size: 15px;
	    line-height: 17px;
	}

	/*-----------------------------*/

	.contacts-thumbnails .thumbnail .col-1 {
	    width: 30px;
	}

	.contacts-icon {
		width: 30px;
		height: 23px;
		background-image: url(img/contacts_sprite_resp.png);
	}

	.contacts-icon.icon-1 {
    	background-position: 0 -4px;
	}

	.contacts-icon.icon-2 {
	    background-position: 0 -43px;
	    position: relative;
		top: 1px;
	}

	.contacts-icon.icon-3 {
	    background-position: 0 -78px;
		position: relative;
		top: 3px;
	}

	.contacts-icon.icon-4 {
	    background-position: 0 -117px;
	    position: relative;
		top: 3px;
	}

}

@media only screen and (max-width: 480px) {

	.services-thumbnails {
	    min-height: 830px;
	}

}

@media only screen and (max-width: 350px) {

	.services-thumbnails {
	    min-height: 630px;
	}

}

@media only screen and (min-width: 769px) 83
	.main-nav {
		display: block !important;
		height: auto !important;
	}

}

